includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/mrpunyapal/peststan/extension.neon

parameters:
    level: 6

    peststan:
        testCaseClass: Tests\TestCase
        pestConfigFiles:
            - tests/Pest.php

    paths:
        - app
        - config
        - database
        - routes
        - tests

    tmpDir: storage/framework/cache/phpstan
